# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Ignore the large data files, but keep the directories.
# This is good practice so people know where to put their own data.
# data/*
!data/.gitkeep

# Ignore the large result files, but keep the directory.
# results/*
!results/.gitkeep

# IDE-specific files
.vscode/
.idea/